.site-header {
    display: flex;
    justify-content: space-between;
    background: #282c34;
    color: #c7c6c6;
    min-height: 50px;
    &__logo {
        flex-basis: 50%;
        font-size: 25px;
        align-self: center;
        margin-left: 12px;
        color: #ffffff;
        &__line {
            border-bottom: #ffffff solid;
            width: 55px;
        }
    }
    ul {
        flex-basis: 50%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        li {
            list-style-type: none;
            line-height: 50px;
            padding-left: 12px;
            padding-right: 12px
        }

        li:hover {
            background: #703cc5;
        }
    }

}